.how-section1 {
    margin-top: 2%;
    margin-left: 5%;

}

.col-md-4 {
    margin-top: 40px;
    right: -3%;
}

.how-section3 {
    margin-top: 2%;
    margin-left: 5%;
}

.how-section2 {
    margin-top: 2%;
    margin-left: 33%;
}

.card-body {
    background-color: #0E7386;
}

.mb-3 {
    background-color: #E3FDFD;
}

.card-text {
    color: black;
}

.card-body {
    color: black;
    font-family: 'Playfair Display', serif;
}